<main class="container">
  <div class="formOffsets">
    <div class="row formTabs">
      <div (click)="goTo('/general')" [ngClass]="{'selected': router.url=='/general'}" class="formTab"><span>General</span></div>
      <div (click)="goTo('/contact')" [ngClass]="{'selected': router.url=='/contact'}" class="formTab"><span>Contact</span></div>
      <div (click)="goTo('/bank')" [ngClass]="{'selected': router.url=='/bank'}" class="formTab"><span>Bank</span></div>
      <div (click)="goTo('/Files')" [ngClass]="{'selected': router.url=='/files'}" class="formTab"><span>Files</span></div>
    </div>
      <router-outlet></router-outlet>

    <div class="row">
      <div class="formCenter">
        <button (click)="previousForm()" class="btn">Previous</button>
        <button (click)="nextForm()" class="btn">Next</button>
      </div>
    </div>
  </div>
</main>
